@model PortfolioProject.EntityLayer.Concrete.Experience
@{
    ViewData["Title"] = "UpdateExperience";
    Layout = "~/Views/Shared/_adminLayout.cshtml";
}

<form method="post" class="form-group">
    <br />   <br />   <br />   <br />
    <input type="hidden" name="ExperienceID" value="@Model.ExperienceID"/>
    <div class="mb-3">
        <label for="title" class="form-label">Deneyim Adı</label>
        <input type="text" class="form-control" id="title" name="Name" value="@Model.Name" required />
    </div>
    <div class="mb-3">
        <label for="title" class="form-label">Açıklama</label>
        <textarea class="form-control" id="description" name="Description" rows="3" required>@Model.Description</textarea>
    </div>
    <div class="mb-3">
        <label for="title" class="form-label">Tarih</label>
        <input type="text" class="form-control" id="title" name="Date" value="@Model.Date" required />
    </div>
    <div class="mb-3">
        <label for="title" class="form-label">Görsel URL</label>
        <input type="text" class="form-control" id="title" name="ImageUrl" value="@Model.ImageUrl" required />
    </div>

    <button type="submit" class="btn btn-success">Kaydet</button>
</form>

